.header-text{
    background-color: #000570;
    text-align: center;
    width: 100%;
    color: #ffffff;
    font-family: 'メイリオ';
    font-size: 20pt;
    font: bold;
}

.gacha-area{
    text-align: center;
    width: 100%;
    top: 20%;
}

.gacha-image{
    text-align: center;
    width: 20%;
    height: auto;
}

.gacha-button{
}
  
.gacha-display{
    font-size: 20px;
    font: bold;
    text-align: center;    
}
