.header-banner{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000570;
    width: 100%;
    text-align: center;
}

.header-text{
    color: #ffffff;
    font-family: 'メイリオ';
    font-size: 20pt;
    font: bold;    
}

.footer-banner{
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #000570;
    height: 5%;
    width: 100%;
}

.gacha-area{
    position: fixed;
    text-align: center;
    width: 100%;
    top: 20%;
}

.gacha-image{
    text-align: center;
    width: 20%;
    height: auto;
}

.gacha-button{
}
  
.gacha-display{
    font-size: 20px;
    font: bold;
    text-align: center;    
}
